<div class="widget-body">
  <loading-gif data-object="content" data-empty="isEmpty"></loading-gif>
  <div ng-if="content && (content.data | filter: account=103).length > 0" class="center">
    <i class="fa fa-credit-card-alt"></i>
    <span class="balance">{{ (content.data | filter: account=103)[0].balance | currency:"$":2 }}</span>
  </div>
  <div ng-if="isEmpty">
    <circle-button data-href="{{ widget.url }}"
                   data-target="_blank"
                   data-fa-icon="fa fa-credit-card-alt"
                   data-title="See balance">
    </circle-button>
  </div>
  <div layout="row" layout-align="center center">
    <circle-button ng-if="config.depositUrl"
                   data-href="{{ config.depositUrl }}"
                   data-target="_blank"
                   data-fa-icon="fa fa-dollar"
                   data-title="Deposit money">
    </circle-button>
    <circle-button ng-if="config.lostUrl"
                   data-href="{{ config.lostUrl }}"
                   data-target="_blank"
                   data-fa-icon="fa fa-exclamation-triangle"
                   data-title="Report lost card">
    </circle-button>
  </div>
</div>
<launch-button data-href="{{ widget.url }}"
               data-target="_blank"
               data-rel="noopener noreferrer"
               data-button-text="{{ widget.widgetConfig.launchText ? widget.widgetConfig.launchText : 'Launch full app' }}"
               data-aria-label="{{ widget.widgetConfig.launchText ? widget.widgetConfig.launchText : 'Launch ' + widget.title }}">
</launch-button>
